streamlit==1.46.1
streamlit-webrtc==0.63.3
streamlit-autorefresh==1.0.1
mediapipe==0.10.7
torch==2.0.1
torchvision==0.15.2
pandas==2.0.3
pillow==10.0.0
opencv-python-headless==4.8.0.76
numpy==1.24.3
av==10.0.0
